#include "resource.h"
#include "windows.h"
#include "STRINGS.h"

/////////////////////////////////////////////////////////////////////////////
// Boîte de dialogue

IDD_ABOUTBOX DIALOGEX 0, 0, 320, 110
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION STR(ABOUT_PHOTOSCULPT)
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL         "IMAGE_LOGO",IDC_STATIC,"Static",SS_BITMAP | SS_REALSIZEIMAGE,0,0,1,1

    LTEXT           APPLICATION_NAME,IDC_STATIC,42,46,150,8,SS_NOPREFIX
    LTEXT           VERSION_PHOTOSCULPT_SOFTWARE, IDC_STATIC,42,56,150,8,SS_NOPREFIX
    LTEXT           COPYRIGHT,IDC_STATIC,42,66,150,8
    LTEXT           "", ABOUT_LICENCED_TO,42,76,150,8
    DEFPUSHBUTTON   "OK",   IDOK,135,90,50,14,WS_GROUP
END


IDD_WARNINGBOX DIALOGEX 0, 0, 160, 130
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_VISIBLE
CAPTION STR(PHOTOSCULPT_WARNING)
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL         "W0",IDC_WARNING_IMG,"Static",SS_BITMAP | SS_REALSIZEIMAGE,0,0,1,1
    LTEXT           STR(FRONT_PHOTO),  IDC_STATIC,20,70,114,8
    LTEXT           STR(RIGHT_PHOTO),  IDC_STATIC,100,70,114,8
    LTEXT           "Text of message", IDC_WARNING_TXT,10,80,140,24,SS_NOPREFIX
    DEFPUSHBUTTON   STR(CONTINUE),     IDOK,50,110,50,14,WS_GROUP
END

/////////////////////////////////////////////////////////////////////////////
// Boîte de dialogue SaveMultiple

IDD_SAVE_MULTIPLE_BOX DIALOGEX 0, 0, 320, 230
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION STR(SAVE_MULTIPLE_FILES)
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL         "IMAGE_DISKS",IDC_STATIC,"Static",SS_BITMAP | SS_REALSIZEIMAGE,0,0,1,1

    GROUPBOX        STR(3D_MODEL),IDC_STATIC,85,5,230,95
    CONTROL         STR(SAVE_3D_MODEL), MULTI_SAVE_MODEL,"Button",BS_AUTOCHECKBOX | BS_TOP | 
                      WS_GROUP,90,15,80,11
    GROUPBOX        STR(FORMAT),IDC_STATIC,90,25,100,70
    CONTROL         ".stl",    MULTI_STL,   "Button", BS_AUTORADIOBUTTON ,100,35,50,11
    CONTROL         ".obj",    MULTI_OBJ,   "Button", BS_AUTORADIOBUTTON ,100,50,50,11
    CONTROL         ".ply",    MULTI_PLY,   "Button", BS_AUTORADIOBUTTON ,100,65,50,11
    CONTROL         ".sculpt", MULTI_SCULPT,"Button", BS_AUTORADIOBUTTON ,100,80,50,11

    LTEXT           STR(MESH_SIZE), IDC_STATIC, 210, 15, 100, 10, WS_GROUP
    LISTBOX         MULTI_LIST_SIZE_MODEL, 210, 25, 80, 80, LBS_MULTIPLESEL 

    GROUPBOX        STR(2D_MAP),IDC_STATIC,85,100,320,110
    CONTROL         STR(SAVE_2D_MAP), MULTI_SAVE_MAP,"Button",BS_AUTOCHECKBOX | BS_TOP | 
                      WS_GROUP,90,110,80,11

    LTEXT           STR(AVAILABLE_MAPS), IDC_STATIC, 120, 120, 100, 10, WS_GROUP 
    LISTBOX         MULTI_LIST_SIZE_MAP, 210, 130, 80, 90, LBS_MULTIPLESEL 
    LTEXT           STR(AVAILABLE_SIZES), IDC_STATIC, 210, 120, 100, 10, WS_GROUP
    LISTBOX         MULTI_LIST_MAP_TYPE, 120, 130, 80, 90, LBS_MULTIPLESEL 

    DEFPUSHBUTTON   STR(OK),   IDOK,135,215,50,14,WS_GROUP
    PUSHBUTTON      STR(CANCEL),IDCANCEL,185,215,50,14
END

IDD_OPTION_BOX DIALOGEX 0, 0, 350, 220
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION STR(PHOTOSCULPT_OPTIONS)
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL         "OPTIONS",IDC_STATIC,"Static",SS_BITMAP | SS_REALSIZEIMAGE,0,0,1,1
    
    CONTROL         STR(INVERT_NORMAL_X), OPTION_INVERT_NORMAL_X,"Button",BS_AUTOCHECKBOX | BS_TOP | 
                      WS_GROUP,90,10,80,11
    CONTROL         STR(INVERT_NORMAL_Y), OPTION_INVERT_NORMAL_Y,"Button",BS_AUTOCHECKBOX | BS_TOP | 
                      WS_GROUP,190,10,80,11
    
    LTEXT           STR(NUMBER_THREADS), IDC_STATIC, 250, 145, 200, 20, WS_GROUP
    EDITTEXT        CORES_EDIT, 270, 155, 50, 12

    LTEXT           STR(MAX_TRIANGLES), IDC_STATIC, 90, 30, 150, 10, WS_GROUP 
    CONTROL         "", OPTION_TRIANGLE_MAX, "msctls_trackbar32", TBS_AUTOTICKS | WS_TABSTOP
                      ,90, 40, 120, 16
    LTEXT           "0", OPTION_TRIANGLE_TXT, 210, 40, 50, 10

    GROUPBOX        STR(INTERFACE_COLORS),IDC_STATIC,85,60,260,80

    LTEXT           STR(HUE), IDC_STATIC, 95, 75, 100, 10, WS_GROUP 
    CONTROL         "", OPTION_INTERFACE_HUE, "msctls_trackbar32", TBS_AUTOTICKS | WS_TABSTOP
                      ,95, 85, 120, 16
    LTEXT           "0", OPTION_HUE_TXT, 215, 85, 25, 10

    LTEXT           STR(STATURATION), IDC_STATIC, 245, 75, 70, 10, WS_GROUP 
    CONTROL         "", OPTION_INTERFACE_SAT, "msctls_trackbar32", TBS_AUTOTICKS | WS_TABSTOP
                      ,245, 85, 60, 16
    LTEXT           "0", OPTION_SAT_TXT, 315, 85, 25, 10

    LTEXT           STR(BACKGROUND_LUMINOSITY), IDC_STATIC, 95, 105, 100, 10, WS_GROUP 
    CONTROL         "", OPTION_INTERFACE_LUMINOSITY, "msctls_trackbar32", TBS_AUTOTICKS | WS_TABSTOP
                      ,95, 115, 120, 16
    LTEXT           "0", OPTION_LUM_TXT, 215, 115, 25, 10
 
    LTEXT           STR(OPACITY), IDC_STATIC, 245, 105, 100, 10, WS_GROUP 
    CONTROL         "", OPTION_INTERFACE_OPACITY, "msctls_trackbar32", TBS_AUTOTICKS | WS_TABSTOP
                      ,245, 115, 60, 16
    LTEXT           "80", OPTION_OPAC_TXT, 315, 115, 25, 10

     LTEXT          STR(JPEG_QUALITY), IDC_STATIC, 90, 145, 100, 10, WS_GROUP 
    CONTROL         "", OPTION_JPEG_PERCENT, "msctls_trackbar32", TBS_AUTOTICKS | WS_TABSTOP
                      ,90, 155, 120, 16
    LTEXT           "0", OPTION_JPEG_TXT, 210, 155, 25, 10

    DEFPUSHBUTTON   STR(OK),    IDOK,    135,205,50,14,WS_GROUP
    PUSHBUTTON      STR(CANCEL),IDCANCEL,190,205,50,14

END


IDD_FOCAL_BOX DIALOGEX 0, 0, 250, 120
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION STR(ENTER_FOCAL)
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           STR(ENTER_FOCAL1), 
                    IDC_STATIC, 20, 20, 200, 20, WS_GROUP 
    LTEXT           STR(ENTER_FOCAL2), 
                    IDC_STATIC, 30, 38, 200, 20, WS_GROUP 
    LTEXT           STR(ENTER_FOCAL3), 
                    IDC_STATIC, 30, 56, 200, 20, WS_GROUP 

    EDITTEXT        FOCAL_EDIT, 40, 75, 74, 12

    DEFPUSHBUTTON   STR(OK),     IDOK,     135,100,50,14, WS_GROUP
    PUSHBUTTON      STR(CANCEL), IDCANCEL, 190,100,50,14

END

IDD_BLUR_BOX DIALOGEX 0, 0, 250, 120
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION STR(ENTER_BLUR)
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           STR(ENTER_BLUR1), 
                    IDC_STATIC, 20, 20, 200, 20, WS_GROUP 
    LTEXT           STR(ENTER_BLUR2), 
                    IDC_STATIC, 30, 38, 200, 20, WS_GROUP 
    LTEXT           STR(ENTER_BLUR3), 
                    IDC_STATIC, 30, 56, 200, 20, WS_GROUP 

    EDITTEXT        FOCAL_EDIT, 40, 75, 74, 12

    DEFPUSHBUTTON   STR(OK),     IDOK,     135,100,50,14, WS_GROUP
    PUSHBUTTON      STR(CANCEL), IDCANCEL, 190,100,50,14

END

IDD_3DPOSITION_BOX DIALOGEX 0, 0, 250, 220
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION STR(COMPUTE_CAMERAS)
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           STR(CLICK_COMPUTE),
                    IDC_STATIC, 20, 4, 200, 20, WS_GROUP 
    PUSHBUTTON      STR(COMPUTE), POSITION_COMPUTE, 20,32, 50,14
    PUSHBUTTON      STR(STOP),    POSITION_STOP,    120,32,50,14

    EDITTEXT        FOCAL_EDIT, 40, 52, 200, 80, ES_MULTILINE

    PUSHBUTTON      STR(OK),     IDOK,     135,200,50,14, WS_GROUP
    PUSHBUTTON      STR(CANCEL), IDCANCEL, 190,200,50,14

END

IDD_FLATMODESAMPLE_BOX DIALOGEX 0, 0, 250, 220
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION STR(FLAT_MODE_OPTIONS)
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           STR(SPECIFY_NUMBER_SAMPLES),
                    IDC_STATIC, 20, 4, 200, 20, WS_GROUP

    EDITTEXT        SAMPLES_EDIT, 40, 52, 50, 12

    PUSHBUTTON      STR(OK),     IDOK,     135,200,50,14, WS_GROUP
    PUSHBUTTON      STR(CANCEL), IDCANCEL, 190,200,50,14

END