
/////////////////////////////////////////////////////////////////////////////
//
// Images of the interfaces
//

IMAGE_LEFT_PHOTO        BITMAP        "IHM\\left_photo.bmp"
IMAGE_RIGHT_PHOTO       BITMAP        "IHM\\right_photo.bmp"
IMAGE_SCULPT_ICONS      BITMAP        "IHM\\Sculpt bar.bmp"
IMAGE_SCULPT_ICONS_G    BITMAP        "IHM\\Sculpt bar g.bmp"
IMAGE_SCULPT_ICONS_H    BITMAP        "IHM\\Sculpt bar h.bmp"
IMAGE_SCULPT_ICONS_S    BITMAP        "IHM\\Sculpt bar s.bmp"
IMAGE_SCULPT_MINI       BITMAP        "IHM\\mini sculpt bar.bmp"
IMAGE_SCULPT_MINI_G     BITMAP        "IHM\\mini sculpt bar g.bmp"
IMAGE_SCULPT_MINI_H     BITMAP        "IHM\\mini sculpt bar h.bmp"
IMAGE_SCULPT_MINI_S     BITMAP        "IHM\\mini sculpt bar s.bmp"
IMAGE_SCULPT_SOLO       BITMAP        "IHM\\solo.bmp"
IMAGE_SCULPT_SOLO_G     BITMAP        "IHM\\solo g.bmp"
IMAGE_SCULPT_SOLO_H     BITMAP        "IHM\\solo h.bmp"
IMAGE_SCULPT_SOLO_S     BITMAP        "IHM\\solo s.bmp"
IMAGE_3D                BITMAP        "IHM\\Popup3d.bmp"
IMAGE_3D_G              BITMAP        "IHM\\Popup3d g.bmp"
IMAGE_3D_H              BITMAP        "IHM\\Popup3d h.bmp"
IMAGE_3D_S              BITMAP        "IHM\\Popup3d s.bmp"
IMAGE_3D_A              BITMAP        "IHM\\Popup3d a.bmp"
IMAGE_LOAD_3D           BITMAP        "IHM\\Load.bmp"
IMAGE_LOAD_3D_G         BITMAP        "IHM\\Load g.bmp"
IMAGE_LOAD_3D_H         BITMAP        "IHM\\Load h.bmp"
IMAGE_LOAD_3D_S         BITMAP        "IHM\\Load s.bmp"
IMAGE_LOAD_ALPHA        BITMAP        "IHM\\LoadAlpha.bmp"
IMAGE_LOAD_ALPHA_G      BITMAP        "IHM\\LoadAlpha g.bmp"
IMAGE_LOAD_ALPHA_H      BITMAP        "IHM\\LoadAlpha h.bmp"
IMAGE_LOAD_ALPHA_S      BITMAP        "IHM\\LoadAlpha s.bmp"
IMAGE_LOAD_FRONT        BITMAP        "IHM\\LoadFront.bmp"
IMAGE_LOAD_FRONT_G      BITMAP        "IHM\\LoadFront g.bmp"
IMAGE_LOAD_FRONT_H      BITMAP        "IHM\\LoadFront h.bmp"
IMAGE_LOAD_FRONT_S      BITMAP        "IHM\\LoadFront s.bmp"
IMAGE_SAVE_3D           BITMAP        "IHM\\LoadSave.bmp"
IMAGE_SAVE_3D_G         BITMAP        "IHM\\LoadSave g.bmp"
IMAGE_SAVE_3D_H         BITMAP        "IHM\\LoadSave h.bmp"
IMAGE_SAVE_3D_S         BITMAP        "IHM\\LoadSave s.bmp"
IMAGE_TAB               BITMAP        "IHM\\tab.bmp"
IMAGE_TAB_G             BITMAP        "IHM\\tab g.bmp"
IMAGE_TAB_H             BITMAP        "IHM\\tab h.bmp"
IMAGE_TAB_S             BITMAP        "IHM\\tab s.bmp"
IMAGE_TAB_A             BITMAP        "IHM\\tab a.bmp"
IMAGE_CROP              BITMAP        "IHM\\icons crop.bmp"
IMAGE_CROP_G            BITMAP        "IHM\\icons crop g.bmp"
IMAGE_CROP_H            BITMAP        "IHM\\icons crop h.bmp"
IMAGE_CROP_S            BITMAP        "IHM\\icons crop s.bmp"
IMAGE_CROP_A            BITMAP        "IHM\\icons crop a.bmp"
IMAGE_SELECT            BITMAP        "IHM\\icons selection editor.bmp"
IMAGE_SELECT_G          BITMAP        "IHM\\icons selection editor g.bmp"
IMAGE_SELECT_H          BITMAP        "IHM\\icons selection editor h.bmp"
IMAGE_SELECT_S          BITMAP        "IHM\\icons selection editor s.bmp"
IMAGE_SELECT_A          BITMAP        "IHM\\icons selection editor a.bmp"
IMAGE_DISKS             BITMAP        "IHM\\Disks.bmp"
IMAGE_FRAME             BITMAP        "IHM\\Frame.bmp"

W0                      BITMAP        "IHM\\Warning\\Ok.bmp"
W1                      BITMAP        "IHM\\Warning\\90Degree.bmp"      
W2                      BITMAP        "IHM\\Warning\\BadHorizon.bmp"
W3                      BITMAP        "IHM\\Warning\\BlurLeft.bmp"
W4                      BITMAP        "IHM\\Warning\\BlurRight.bmp"
W5                      BITMAP        "IHM\\Warning\\Dark.bmp"
W6                      BITMAP        "IHM\\Warning\\DifferentExposure.bmp"
W7                      BITMAP        "IHM\\Warning\\HighContrast.bmp"
W8                      BITMAP        "IHM\\Warning\\LeftRight.bmp"
W9                      BITMAP        "IHM\\Warning\\Light.bmp"
W10                     BITMAP        "IHM\\Warning\\LowContrast.bmp"
W11                     BITMAP        "IHM\\Warning\\OffCenter.bmp"
W12                     BITMAP        "IHM\\Warning\\TooSimilar.bmp"
W13                     BITMAP        "IHM\\Warning\\TooZoomed.bmp"
W14                     BITMAP        "IHM\\Warning\\Up.bmp"

OPTIONS                 BITMAP        "IHM\\engrenage.bmp"
IMAGE_LOGO              BITMAP        "IHM\\Logo.bmp"
