//Script de ressources généré par Microsoft Visual C++.
//
#include "resource.h"
#include "STRINGS.h"

#define APSTUDIO_READONLY_SYMBOLS
/////////////////////////////////////////////////////////////////////////////
//
// Généré à partir de la ressource TEXTINCLUDE 2.
//
#ifndef APSTUDIO_INVOKED
#include "targetver.h"
#endif
#define APSTUDIO_HIDDEN_SYMBOLS
#include "windows.h"
#undef APSTUDIO_HIDDEN_SYMBOLS
/////////////////////////////////////////////////////////////////////////////
#undef APSTUDIO_READONLY_SYMBOLS

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_FRA)
LANGUAGE 12, 1
#pragma code_page(1252)

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "PhotoSculpt v1.00.exe.manifest" 


/////////////////////////////////////////////////////////////////////////////
//
// Icône
//
// L'icône avec la valeur d'ID la plus basse est placée en premier afin que l'icône d'application
// soit cohérente sur tous les systèmes.

IDI_PHOTOSCULPT         ICON         "IHM\\LogoAll.ico"
IDI_SMALL               ICON         "IHM\\MenuIcons\\photosculpt.ico"
IDI_MENUICON_LOAD       ICON         "IHM\\MenuIcons\\load.ico"
IDI_MENUICON_DISK       ICON         "IHM\\MenuIcons\\disk.ico"
IDI_MENUICON_2DISKS     ICON         "IHM\\MenuIcons\\2disks.ico"
IDI_MENUICON_ALPHA      ICON         "IHM\\MenuIcons\\alpha.ico"
IDI_MENUICON_COPY       ICON         "IHM\\MenuIcons\\copy.ico"
IDI_MENUICON_CROSS      ICON         "IHM\\MenuIcons\\cross.ico"
IDI_MENUICON_CROSS2     ICON         "IHM\\MenuIcons\\cross2.ico"
IDI_MENUICON_FLAT       ICON         "IHM\\MenuIcons\\flat.ico"
IDI_MENUICON_INCREASE   ICON         "IHM\\MenuIcons\\increase.ico"
IDI_MENUICON_REDUCE     ICON         "IHM\\MenuIcons\\reduce.ico"
IDI_MENUICON_SCULPT     ICON         "IHM\\MenuIcons\\sculpt.ico"
IDI_MENUICON_STOP       ICON         "IHM\\MenuIcons\\stop.ico"
IDI_MENUICON_TILEABLE   ICON         "IHM\\MenuIcons\\tileable.ico"
IDI_MENUICON_CROP       ICON         "IHM\\MenuIcons\\crop.ico"
IDI_MENUICON_QUESTION   ICON         "IHM\\MenuIcons\\question.ico"
IDI_MENUICON_LABORATORY ICON         "IHM\\MenuIcons\\laboratory.ico"
IDI_MENUICON_FOLDER     ICON         "IHM\\MenuIcons\\folder.ico"
IDI_MENUICON_WHEELS     ICON         "IHM\\MenuIcons\\wheels.ico"

/////////////////////////////////////////////////////////////////////////////
// Menu

IDC_PHOTOSCULPT MENU
BEGIN
    POPUP STR(MENU_FILE)
    BEGIN
        MENUITEM STRMENUITEM(ACTION_OPEN_LEFT_IMAGE)
        MENUITEM STRMENUITEM(ACTION_OPEN_RIGHT_IMAGE)
        MENUITEM STRMENUITEM(ACTION_LOAD_IDENTICAL_L_R)
        POPUP    STR(OPEN_RECENT)
        BEGIN
            MENUITEM STRMENUITEM(ACTION_OPEN_RECENT1)
            MENUITEM STRMENUITEM(ACTION_OPEN_RECENT2)
            MENUITEM STRMENUITEM(ACTION_OPEN_RECENT3)
            MENUITEM STRMENUITEM(ACTION_OPEN_RECENT4)
            MENUITEM STRMENUITEM(ACTION_OPEN_RECENT5)
            MENUITEM STRMENUITEM(ACTION_OPEN_RECENT6)
            MENUITEM STRMENUITEM(ACTION_OPEN_RECENT7)
            MENUITEM STRMENUITEM(ACTION_OPEN_RECENT8)
            MENUITEM STRMENUITEM(ACTION_OPEN_RECENT9)
        END
        MENUITEM STRMENUITEM(ACTION_OPEN_LAST_DIRECTORY)


        MENUITEM SEPARATOR
        MENUITEM STRMENUITEM(ACTION_LOAD_SCULPT_FILE)
        MENUITEM STRMENUITEM(ACTION_LOAD_DEPTHMAP)
        MENUITEM STRMENUITEM(ACTION_LOAD_ALPHA)

        MENUITEM SEPARATOR
        MENUITEM STRMENUITEM(ACTION_SAVE_MODEL_FILE)
        MENUITEM STRMENUITEM(ACTION_SAVE_AS_IMAGE)
        MENUITEM STRMENUITEM(ACTION_SAVE_DEPTH_AS_16BIT_TIF)
        MENUITEM STRMENUITEM(ACTION_SAVE_MULTIPLE)
        MENUITEM SEPARATOR
        MENUITEM STRMENUITEM(ACTION_CLOSE_ALPHA)
     
        MENUITEM STRMENUITEM(ACTION_CLEAR_ALL)
        MENUITEM SEPARATOR
        MENUITEM STRMENUITEM(ACTION_EXIT)
    END

    POPUP STR(MENU_EDIT)
    BEGIN
        POPUP STR(MENU_ROTATE)
        BEGIN
            MENUITEM STRMENUITEM(ACTION_LEFT_IMAGE_ROTATE_LEFT)
            MENUITEM STRMENUITEM(ACTION_LEFT_IMAGE_ROTATE_RIGHT)
            MENUITEM STRMENUITEM(ACTION_RIGHT_IMAGE_ROTATE_LEFT)
            MENUITEM STRMENUITEM(ACTION_RIGHT_IMAGE_ROTATE_RIGHT)
        END
        MENUITEM STRMENUITEM(ACTION_LEFT_RIGHT_SWAP)
        MENUITEM SEPARATOR
        MENUITEM STRMENUITEM(ACTION_COPY_TO_CLIPBOARD)
        MENUITEM SEPARATOR
        MENUITEM STRMENUITEM(ACTION_CROPEDIT)
        MENUITEM STRMENUITEM(ACTION_ERASE_RESULT)
        MENUITEM STRMENUITEM(ACTION_DOWNSAMPLE)
        MENUITEM SEPARATOR
        MENUITEM STRMENUITEM(ACTION_ENTER_FOCAL_LENGTH)
        MENUITEM STRMENUITEM(ACTION_EDIT_SELECTION)
    END

    POPUP STR(MENU_DISPLAY)
    BEGIN
        MENUITEM STRMENUITEM(ACTION_MODE_SOURCES)
        MENUITEM STRMENUITEM(ACTION_MODE_3D)
        MENUITEM STRMENUITEM(ACTION_MODE_OLD_3D)
        MENUITEM STRMENUITEM(ACTION_MODE_DISPLACE)
        MENUITEM STRMENUITEM(ACTION_MODE_NORMAL)
        MENUITEM STRMENUITEM(ACTION_MODE_AMBOCC)
        MENUITEM STRMENUITEM(ACTION_MODE_SPECULAR)
        MENUITEM STRMENUITEM(ACTION_MODE_DIFFUSE)
        MENUITEM STRMENUITEM(ACTION_MODE_BUMP)
        MENUITEM STRMENUITEM(ACTION_MODE_LIMDISP)
        MENUITEM STRMENUITEM(ACTION_MODE_ALPHA)
        MENUITEM SEPARATOR
        MENUITEM STRMENUITEM(ACTION_3D_WIREFRAME)
        MENUITEM STRMENUITEM(ACTION_3D_WHITE)
        MENUITEM STRMENUITEM(ACTION_3D_TEXTURE)
        MENUITEM SEPARATOR
        MENUITEM STRMENUITEM(ACTION_SUBDIVISION_REDUCE)
        MENUITEM STRMENUITEM(ACTION_SUBDIVISION_INCREASE)
        MENUITEM SEPARATOR
        MENUITEM STRMENUITEM(ACTION_ANIMATE_MODEL)
    END

    POPUP STR(MENU_SCULPT)
    BEGIN
        MENUITEM STRMENUITEM(ACTION_SCULPT_NOW)
        MENUITEM STRMENUITEM(ACTION_STOP)
        MENUITEM SEPARATOR
        MENUITEM STRMENUITEM(ACTION_3D_DEPTH_PLUS)
        MENUITEM STRMENUITEM(ACTION_3D_DEPTH_MINUS)
        MENUITEM SEPARATOR
        MENUITEM STRMENUITEM(ACTION_ADD_DETAIL)
        MENUITEM STRMENUITEM(ACTION_SUB_DETAIL)
        MENUITEM STRMENUITEM(ACTION_DETAIL_DURING_SCULPT)
        MENUITEM SEPARATOR
        MENUITEM STRMENUITEM(ACTION_TILEABLE)
        MENUITEM STRMENUITEM(ACTION_FLAT_MAP)
        MENUITEM SEPARATOR
        MENUITEM STRMENUITEM(ACTION_OPTIONS)
    END

    POPUP STR(MENU_QUESTION_MARK)
    BEGIN
        MENUITEM STRMENUITEM(ACTION_ABOUT)
        MENUITEM SEPARATOR
        MENUITEM STRMENUITEM(ACTION_OPEN_SAMPLE_DIRECTORY)
        MENUITEM STRMENUITEM(ACTION_WEBSITE)
        MENUITEM STRMENUITEM(ACTION_TUTORIAL)
#ifdef DEMO_MODE
        MENUITEM STRMENUITEM(ACTION_WEBSITE_BUY)
#endif
        MENUITEM STRMENUITEM(ACTION_TWEETER)
        MENUITEM STRMENUITEM(ACTION_FACEBOOK)
#ifndef DEMO_MODE
        MENUITEM STRMENUITEM(ACTION_TECHNICAL_SUPPORT)
#endif
        MENUITEM STRMENUITEM(ACTION_SUGGEST_FUNCTION)

#ifndef DEMO_MODE
        MENUITEM SEPARATOR
        POPUP STR(LABORATORY)
        BEGIN
            MENUITEM STRMENUITEM(ACTION_SWITCH_SMOOTH_MODE)
            MENUITEM STRMENUITEM(ACTION_EDIT_MORPHING)
            MENUITEM STRMENUITEM(ACTION_ENTER_BLUR_RADIUS)
            MENUITEM STRMENUITEM(ACTION_CLOSE_3D_EXPORT)
            MENUITEM STRMENUITEM(ACTION_ADDITIONAL_PHOTO)
            MENUITEM STRMENUITEM(ACTION_SEARCH_CAMERA_POS)
            MENUITEM STRMENUITEM(ACTION_BATCH_SCULPT_FOLDER)
            MENUITEM STRMENUITEM(ACTION_BATCH_SCULPT_TILES)
            MENUITEM STRMENUITEM(ACTION_MODE_TILE_MASK)
            MENUITEM STRMENUITEM(ACTION_SEAM_CORRECTED_DIFFUSE)
            MENUITEM STRMENUITEM(ACTION_HALF_SPHERE_PREVIEW)
            MENUITEM STRMENUITEM(ACTION_FLAT_MODE_SAMPLE_DIALOG)
            MENUITEM SEPARATOR
            MENUITEM STRMENUITEM(ACTION_PERSPECTIVE_CORRECTED)
            MENUITEM STRMENUITEM(ACTION_EDIT_PINNING)
#ifndef FINAL_RELEASE //////// release not final mode
            MENUITEM SEPARATOR
            MENUITEM STRMENUITEM(ACTION_MULTITASKING_TRIAL)
            MENUITEM STRMENUITEM(ACTION_ZERO_DISPLACE_MAP)
            MENUITEM STRMENUITEM(ACTION_OPTIMIZE_SCULPT_PARAMETERS)
#endif
        END
#endif
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// Accélérateur
//

IDC_PHOTOSCULPT ACCELERATORS
BEGIN
    "?",            ACTION_ABOUT,           ASCII,    ALT
    "/",            ACTION_ABOUT,           ASCII,    ALT
    VK_F4,          ACTION_EXIT,            VIRTKEY,  ALT
    "1",            ACTION_MODE_3D,         VIRTKEY
    "2",            ACTION_MODE_DISPLACE,   VIRTKEY
    "3",            ACTION_MODE_NORMAL,     VIRTKEY
    "4",            ACTION_MODE_AMBOCC,  VIRTKEY
    "5",            ACTION_MODE_SPECULAR,   VIRTKEY
    "6",            ACTION_MODE_DIFFUSE,    VIRTKEY
    "7",            ACTION_3D_WIREFRAME,    VIRTKEY
    "8",            ACTION_3D_WHITE,        VIRTKEY
    "9",            ACTION_3D_TEXTURE,      VIRTKEY
    VK_LEFT,        ACTION_3D_ROTATE_LEFT,  VIRTKEY
    VK_RIGHT,       ACTION_3D_ROTATE_RIGHT, VIRTKEY
    VK_UP,          ACTION_3D_ROTATE_UP,    VIRTKEY
    VK_DOWN,        ACTION_3D_ROTATE_DOWN,  VIRTKEY
    VK_ADD,         ACTION_3D_ZOOM_PLUS,    VIRTKEY
    VK_SUBTRACT,    ACTION_3D_ZOOM_MINUS,   VIRTKEY
    VK_NEXT,        ACTION_3D_DEPTH_MINUS,  VIRTKEY
    VK_PRIOR,       ACTION_3D_DEPTH_PLUS,   VIRTKEY
    VK_DELETE,      ACTION_ERASE_RESULT,    VIRTKEY
    "K",            ACTION_SCULPT_NOW,      VIRTKEY,  CONTROL
    "S",            ACTION_SAVE_AS,         VIRTKEY,  CONTROL
    "M",            ACTION_SAVE_MULTIPLE,   VIRTKEY,  CONTROL
    "L",            ACTION_OPEN_LEFT_IMAGE, VIRTKEY,  CONTROL
    "R",            ACTION_OPEN_RIGHT_IMAGE,VIRTKEY,  CONTROL
    "O",            ACTION_LOAD_SCULPT_FILE,VIRTKEY,  CONTROL
    "0",            ACTION_MODE_SOURCES,    VIRTKEY
    "T",            ACTION_TILEABLE,        VIRTKEY
    "F",            ACTION_FLAT_MAP,        VIRTKEY
    VK_BACK,        ACTION_DOWNSAMPLE,      VIRTKEY
    VK_ESCAPE,      ACTION_STOP_WITH_KEY,   VIRTKEY
    "C",            ACTION_COPY_TO_CLIPBOARD, VIRTKEY, CONTROL
    "C",            ACTION_CROPEDIT,        VIRTKEY
    "X",            ACTION_CLEAR_ALL,       VIRTKEY,  CONTROL
    "T",            ACTION_MULTITASKING_TRIAL, VIRTKEY,  CONTROL

END


IDC_EDITOR ACCELERATORS
BEGIN
    VK_RETURN,      ACTION_EDIT_OK,           VIRTKEY
    VK_ESCAPE,      ACTION_EDIT_CANCEL,       VIRTKEY
END

IDC_CROPEDITOR ACCELERATORS
BEGIN
    VK_RETURN,      ACTION_CROPEDIT_OK,       VIRTKEY
    VK_ESCAPE,      ACTION_CROPEDIT_CANCEL,   VIRTKEY
END

IDC_SELECTEDITOR ACCELERATORS
BEGIN
    VK_RETURN,      ACTION_SELECT_OK,         VIRTKEY
    VK_ESCAPE,      ACTION_SELECT_CANCEL,     VIRTKEY
END



/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
    IDD_ABOUTBOX, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 163
        TOPMARGIN, 7
        BOTTOMMARGIN, 55
    END
END
#endif    // APSTUDIO_INVOKED

#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//
1 TEXTINCLUDE
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE
BEGIN
	"#ifndef APSTUDIO_INVOKED\r\n"
    "#include ""targetver.h""\r\n"
    "#endif\r\n"
    "#define APSTUDIO_HIDDEN_SYMBOLS\r\n"
    "#include ""windows.h""\r\n"
    "#undef APSTUDIO_HIDDEN_SYMBOLS\r\n"
    "\0"
END

3 TEXTINCLUDE
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED

/////////////////////////////////////////////////////////////////////////////
//
// Table de chaînes
//

STRINGTABLE
BEGIN
   IDC_PHOTOSCULPT          "PHOTOSCULPT"
   IDC_EDITOR               "EDITOR"
   IDC_CROPEDITOR           "CROPEDITOR"
   IDC_SELECTEDITOR         "SELECTEDITOR"

   IDS_APP_TITLE            APPLICATION_NAME

   IDS_APP_TITLE_EDIT       STR(IDS_APP_TITLE_EDIT      )
   IDS_APP_TITLE_CROPEDIT   STR(IDS_APP_TITLE_CROPEDIT  )
   IDS_APP_TITLE_SELECTEDIT STR(IDS_APP_TITLE_SELECTEDIT)
END

#endif
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Généré à partir de la ressource TEXTINCLUDE 3.
//

/////////////////////////////////////////////////////////////////////////////
#endif    // non APSTUDIO_INVOKED
